.noMarginAbove {
    margin-top:0;
}

.noMarginBelow {
    margin-bottom:0;
}

#startPage{
    top: 50%;
    left: 50%;
    text-align: center;
    position:fixed;
    transform: translate(-50%, -50%);
    font-size: 200%;
}
#resultPage{
    top: 70%;
    left: 50%;
    text-align: center;
    position:fixed;
    transform: translate(-50%, -50%);
    font-size: 80%;
}
#gamePage{
    top: 70%;
    left: 50%;
    text-align: center;
    position:fixed;
    transform: translate(-50%, -50%);
    font-size: 150%;
}

.menuPage{
	position:fixed;
	bottom: 30%;
	left: 50%;
	text-align: center;
	transform: translate(-50%, -50%);
}


